# macOS annoyances
.DS_Store
._*
*DS_Store

# GNU nano annoyances
*.swp
*.save

# Configure files
.configured

# Build junk
bin/
build/

# JetBrains annoyances
.idea

# source distributions
dist/

# C build files
*.o
*.so
*.dylib
*.a
*.exe
*.out
*.dll
*.lib

# C object files
*.obj